h3{
    font-size: 25px !important ;
}
.btn-success:hover{
    background-color: red;
}
 canvas {
     animation-name: example;
     animation-duration: 2s;
     animation-iteration-count: infinite;
 }
 @keyframes example{
     from{box-shadow: 5px 5px 30px red;}
     to{box-shadow: 5px 5px 30px rgb(140, 15, 241);}
 }